.products {
  display: flex;
  justify-content: space-between;
  width: 30%;

  .products-items {
    width: 22%;
    background-color: antiquewhite;

    img {
      width: 100%;
      /* min-height: 200px; */
      padding: 2px;
      border: 2px solid rgb(173, 159, 30);
    }
    .products-des {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px;
    }
  }
  button {
    width: 100%;
    display: block;
    border: 0;
    background-color: #0b9c65;
    padding: 10px;
    font-weight: bold;
  }
  button:hover {
    opacity: 0.8;
  }
}
